.App{
    margin: 0;
    padding: 0;
    font-family: '나눔스퀘어OTF Bold', sans-serif;
    line-height: 1.5;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 300px;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
}

.jointable {
    width: 800px;
    margin: 0 auto;
}

.logintable {
    width: 400px;
    margin: 0 auto;
}
.logintable td, .logintable th {
    padding: 0.75rem;
}

.badge{
    font-size: 90%;
    margin: 0;
}

.bbstable {
    line-height: 1;
}

#bbsTitle{
    text-align: left!important;
}
.bbsContent {
    min-height: 300px;
    overflow-y: scroll;
}